.select-menu {
    --background: #242836;
    --text: #fff;
    --icon: #fff;
    --icon-active: #3f4656;
    --list: #1c212e;
    --list-text: rgba(255, 255, 255, 0.2);
    --list-text-hover: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 1;
    * {
        box-sizing: inherit;
        &:before,
        &:after {
            box-sizing: inherit;
        }
    }

    &.customSize {
        //font-size: 18px!important;
    }

    &.small {
        font-size: inherit !important;
        font-weight: inherit !important;

        .button {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            color: inherit !important;

            em {
                margin-top: 11px;
            }
        }
        ul {
            li {
                height: 35px;
            }
        }
        & > ul {
            li {
                height: 35px;
            }
        }

        select {
            padding: 4px 32px 4px 10px;
        }
    }

    &.blended {
        --background: #101d2d;
        --list: #1c2b3b;

        font-size: 16px !important;
    }

    &.network {
        //font-size: 15px!important;
        select {
            padding: 8px 10px 8px 10px;
            visibility: hidden;
        }
    }

    select,
    .button {
        font-family: inherit;
        margin: 0;
        border: 0;
        text-align: left;
        text-transform: none;
        -webkit-appearance: none;
    }
    select {
        pointer-events: none;
        user-select: none;
        opacity: 0;
        padding: 8px 36px 8px 12px;
        visibility: hidden;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        transform: translateY(var(--t));
        transition:
            opacity 0.3s ease,
            transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.1);
        li {
            display: flex;
            align-items: center;
            padding-left: 15px;
            height: 62px;
            cursor: pointer;
        }
    }
    & > ul {
        background: var(--list);
        color: var(--list-text);
        border-radius: 6px;
        li {
            transition: color 0.3s ease;
            height: 62px;

            &:hover {
                color: var(--list-text-hover);
            }
        }
    }
    .button {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        z-index: 1;
        margin-top: 1px;
        margin-bottom: 1px;
        width: 100%;
        display: block;
        overflow: hidden;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        color: var(--text);
        background: var(--background);

        &.disableDropdown {
            background: transparent !important;
            em {
                display: none;
            }
        }

        em {
            --r: 45deg;
            display: block;
            position: absolute;
            right: 12px;
            top: 0;
            width: 7px;
            height: 7px;
            margin-top: 24px;
            -webkit-backface-visibility: hidden;
            &:before,
            &:after {
                --o: 0.4;
                content: "";
                width: 7px;
                height: 7px;
                opacity: var(--o);
                display: block;
                position: relative;
                transition: opacity 0.2s ease;
                transform: rotate(var(--r)) scale(0.75);
            }
            &:before {
                border-left: 2px solid var(--icon);
                border-top: 2px solid var(--icon);
                top: 1px;
            }
            &:after {
                border-right: 2px solid var(--icon);
                border-bottom: 2px solid var(--icon);
                bottom: 1px;
            }
        }
    }
    &:not(.open) {
        & > ul {
            opacity: 0;
            pointer-events: none;
        }
    }
    &.open {
        &.tilt-up {
            animation: tilt-up 0.4s linear forwards;
            .button {
                em {
                    &:before {
                        --o: 1;
                    }
                }
            }
        }
        &.tilt-down {
            animation: tilt-down 0.4s linear forwards;
            .button {
                em {
                    &:after {
                        --o: 1;
                    }
                }
            }
        }
    }
}

@keyframes tilt-up {
    40%,
    60% {
        transform: perspective(500px) rotateX(8deg);
    }
}

@keyframes tilt-down {
    40%,
    60% {
        transform: perspective(500px) rotateX(-8deg);
    }
}

.menu {
    animation: fadeIn 0.2s ease-in-out;
}
.menu--close {
    animation: fadeOut 0.2s ease-in-out;
}

/* Custom Enter and Leave Animations */
.enter-active {
    animation:
        tilt-up 0.2s ease-out,
        fadeIn 0.2s ease-in-out;
}
.leave-active {
    animation:
        tilt-down 0.2s ease-in,
        fadeOut 0.2s ease-in-out;
}

/* Initial and Final States */
.initial-enter,
.final-leave {
    opacity: 0;
    transform: scale(0.95) perspective(500px) rotateX(0);
}

.final-enter,
.initial-leave {
    opacity: 1;
    transform: scale(1) perspective(500px) rotateX(0);
}
