.offerItem {

  &.pending {
    border-radius: 8px;
    border: 1px solid transparent;
    overflow: hidden;
    box-shadow: rgba(42, 172, 198, 0.15) 0px 0px 40px;
    background: linear-gradient(rgb(27, 35, 50), rgb(27, 35, 50)) padding-box padding-box, linear-gradient(rgb(42, 172, 198), rgba(42, 172, 198, 0.2)) border-box border-box;

    .offerTime {
      background: linear-gradient(200deg, rgba(42, 172, 198, 0.05) 0%, rgba(42, 172, 198, 0.15) 100%);
    }

    .offerBottom {
      background-color: rgba(42, 172, 198, 0.26);
    }

    .color {
      color: rgba(42, 172, 198);
    }
  }

  &.inprogress {
    border-radius: 8px;
    border: 1px solid transparent;
    overflow: hidden;
    box-shadow: rgba(245, 164, 0, 0.15) 0px 0px 40px;
    background: linear-gradient(rgb(27, 35, 50), rgb(27, 35, 50)) padding-box padding-box, linear-gradient(rgb(245, 164, 0), rgba(245, 164, 0, 0.2)) border-box border-box;

    .offerTime {
      background: linear-gradient(200deg, rgba(245, 164, 0, 0.05) 0%, rgba(245, 164, 0, 0.15) 100%);
    }

    .offerBottom {
      background-color: rgba(245, 164, 0, 0.26);
    }

    .color {
      color: rgba(245, 164, 0);
    }
  }

  &.closed {
      box-shadow: rgba(88, 104, 233, 0.15) 0px 0px 40px;
      background: linear-gradient(rgb(27, 35, 50), rgb(27, 35, 50)) padding-box padding-box, linear-gradient(rgb(88, 104, 233), rgba(88, 104, 233, 0.2)) border-box border-box;
      .offerTime {
        background: linear-gradient(200deg, rgba(88, 104, 233, 0.05) 0%, rgba(88, 104, 233, 0.15) 100%);
      }

      .offerBottom {
        background-color: rgba(88, 104, 233, 0.16);
      }
      .color {
        color: rgba(88, 104, 233);
      }
    }
}




.offerWrap {
  border:1px solid transparent;
  box-shadow: rgba(88, 104, 233, 0.15) 0px 0px 40px;
  background: linear-gradient(rgb(27, 35, 50), rgb(27, 35, 50)) padding-box padding-box, linear-gradient(rgb(31, 44, 71), rgb(31, 44, 71)) border-box border-box;

}


.detailRow {
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  white-space: nowrap;
  gap: 8px;
  //color: rgb(255, 255, 255);
  width: 100%;
  flex:1;

  .spacer{
    margin: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: none;
    background-position: 50% center;
    height: 1px;
    background-repeat: repeat-x;
    background-image: linear-gradient(90deg, rgba(152, 170, 192, 0.6) 30%, rgba(255, 255, 255, 0) 0px);
    background-size: 5px 1px;
  }

}


