.barVer {
    background: rgb(247, 247, 247);
    background: -moz-linear-gradient(
        180deg,
        rgba(247, 247, 247, 0.5) 0%,
        rgba(248, 248, 248, 1) 15%,
        rgba(254, 254, 254, 1) 85%,
        rgba(255, 255, 255, 0.5) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(247, 247, 247, 0.5) 0%,
        rgba(248, 248, 248, 1) 15%,
        rgba(254, 254, 254, 1) 85%,
        rgba(255, 255, 255, 0.5) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(247, 247, 247, 0.5) 0%,
        rgba(248, 248, 248, 1) 15%,
        rgba(254, 254, 254, 1) 85%,
        rgba(255, 255, 255, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff", GradientType=1);
}

.barHor {
    background: rgb(247, 247, 247);
    background: -moz-linear-gradient(
        90deg,
        rgba(247, 247, 247, 0.5) 0%,
        rgba(248, 248, 248, 1) 15%,
        rgba(254, 254, 254, 1) 85%,
        rgba(255, 255, 255, 0.5) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(247, 247, 247, 0.5) 0%,
        rgba(248, 248, 248, 1) 15%,
        rgba(254, 254, 254, 1) 85%,
        rgba(255, 255, 255, 0.5) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(247, 247, 247, 0.5) 0%,
        rgba(248, 248, 248, 1) 15%,
        rgba(254, 254, 254, 1) 85%,
        rgba(255, 255, 255, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff", GradientType=1);
}
