.bgEth {
  background-color: rgba(98, 126, 234, 0.6);
}

.bgMatic {
  background-color: rgba(111, 65, 216, 0.6);
}

.bgUsdt {
  background-color: rgba(79, 175, 149, 0.4);
}

.bgUsdc {
  background-color: rgba(39, 117, 202, 0.4);
}
