.vaultItem {
    border: 1px solid transparent;
    box-shadow: rgba(88, 104, 233, 0.15) 0px 0px 40px;
    background:
        linear-gradient(rgb(27, 35, 50), rgb(27, 35, 50)) padding-box
            padding-box,
        linear-gradient(rgb(31, 44, 71), rgb(31, 44, 71)) border-box border-box;

    //background: linear-gradient(rgb(27, 35, 50), rgb(27, 35, 50)) padding-box padding-box, linear-gradient(rgb(88, 104, 233), rgba(88, 104, 233, 0.2)) border-box border-box;
    .offerTime {
        background: linear-gradient(
            200deg,
            rgba(88, 104, 233, 0.05) 0%,
            rgba(88, 104, 233, 0.15) 100%
        );
    }

    .offerBottom {
        background-color: rgba(88, 104, 233, 0.16);
    }
    .color {
        color: rgba(88, 104, 233);
    }
}
