@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&family=Work+Sans:wght@300;400;500&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

.bg {
    background-image: url("https://cdn.basedvc.fund/webapp/bg.jpg");
}

.aboutBg {
    background-image: url("https://cdn.basedvc.fund/webapp/aboutBG.jpg");
}

.loginSelect {
    padding: 5px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.disabled {
        background: rgba(255, 255, 255, 0.13);
    }
}
