@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&family=Work+Sans:wght@300;400;500;700&display=swap');

@import 'transitions';
@import 'gradients';

@import 'components/spacer';
@import 'components/hamburger';
@import 'components/navbar';
@import 'components/button';
@import 'components/carousel';
@import 'components/modal';
@import 'components/chroma';
@import 'components/input';
@import 'components/dropdown';
@import 'components/fliper';
@import 'components/table';

@import 'pages/home/about';
@import 'pages/home/investments';

@import 'pages/app/dashboard';
@import 'pages/app/sidebar';
@import 'pages/app/vault';




$animation-length: 0.5s;
$navy: #12151e;
$navy-accent: #101d2d;
$navy-bg: #161b26;
$btn: #f5a400;
$accent: #242836;
$btn_hover: #ffbc28;
$bright_pink: #F4157E;
$dull_pink:   #CD106E;
$dull_black:   #fffff;
$dull_empty:   #729db0;
$original_pink:   #ff0083;
$btn: #f5a400;
$btn_hover: #ffbc28;
$btn_active: #c2890d;

//@import "compass";

//loader options
$theme: #ff0083;
$loader-size: 150px;
$speed: 1.5s;


@import 'components/toggle';
//@import 'components/wavelink';
//@import 'components/timeline';
//@import 'components/tooltip';


body {
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;

}

.bg {
  background-image:    url('/img/bg5.jpg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  //
  //&::before{
  //  content: '';
  //  position: absolute;
  //  display: flex;
  //  left: 0;
  //  right: 0;
  //  top: 0;
  //  bottom: 0;
  //  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgb(18, 21, 30) 100%);
  //  opacity: 0.9;
  //}
}

.bgFit {
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */

}

.disabled {
  opacity: 0.75;
  pointer-events: none!important;
  cursor: not-allowed! important;
}

.fullWidth {
  .btn-wrap {
    width: 100%;
  }

  button {
    width: 100%;
  }
}


.glowing {
    text-shadow: rgba(185,37,81,0.9) 0px 0px 52px;
}


.flipbook {
  width: 90vw;
  height: 90vh;
}
