@layer utilities {
  .transition-base {
    @apply transition-all duration-500 ease-in-out;
  }
  .transition-hover {
    @apply transition-all duration-100 ease-in-out;
  }
  .overlay {
    @apply fixed inset-0 z-50 bg-navy-700/[.7] data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #082030;
}

::-webkit-scrollbar-thumb {
  background: transparent linear-gradient(180deg, #0D87A1 0%, #164062 100%) 0% 0% no-repeat padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #082030;
}

.card-gradient {
  background-size: 100%;
  background-image: linear-gradient(122deg, #06162E 0%, #184A66 47%, #06162E 100%);
  position: relative;
  z-index: 100;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(131deg, transparent 0%, #099FB7 0%, transparent 15%);
    -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.card-gradient-accent {
  background-size: 100%;
  background-image: linear-gradient(122deg, #06162E 0%, #184A66 47%, #06162E 100%);
  position: relative;
  z-index: 100;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(131deg, transparent 0%, hsl(36, 65%, 71%) 0%, transparent 15%);
    -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

// Source: https://medium.com/@dave_lunny/animating-css-gradients-using-only-css-d2fd7671e759
.card-background {
  background-size: 100%;
  background-image: linear-gradient(122deg, #06162E 0%, #184A66 47%, #06162E 100%);
  position: relative;
  z-index: 100;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(131deg, transparent 0%, #099FB7 0%, transparent 15%);
    -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &::before {
    background-image: linear-gradient(324deg, hsl(188, 91%, 38%) 0%, #099FB7 100%);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 200ms;
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    &::after {
      background: linear-gradient(131deg, transparent 0%, hsl(36, 65%, 71%) 0%, transparent 15%);
    }
  }
}

.dialog-gradient {
  background-size: 100%;
  background-image: linear-gradient(102deg, #06162E 0%, #11364B 49%, #11354B 50%, #06162E 100%);
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 5px; 
    padding: 2px; 
    background: linear-gradient(231deg, transparent 0%, #099FB7 0%, transparent 55%);
    -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.gradient-border-sheet-header {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 64px;
    padding: 2px; 
    background: linear-gradient(131deg, transparent 0%, #099FB7 0%, transparent 25%);
    -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

@media (max-width: 640px) {
  .gradient-border-sheet-header::before {
    display: none;
  }
}
