
.aboutBg {
  //background-image:    url('static/images/bg2.jpg');
  background-image:    url('/img/aboutBG.jpg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */

}
