@layer utilities {
    .bg-pattern-blue {
      background-image: url('/img/bg/upgrades/blue.jpg');
      background-image: image-set(
          "/img/bg/upgrades/blue-762w@2x-q50.avif" type("image/avif") 2x,
          "/img/bg/upgrades/blue-762w@1x-q50.avif" type("image/avif") 1x,
          "/img/bg/upgrades/blue-762w@2x-q85.webp" type("image/webp") 2x,
          "/img/bg/upgrades/blue-762w@1x-q85.webp" type("image/webp") 1x,
          "/img/bg/upgrades/blue-762w@2x-q85.jpg" type("image/jpeg") 2x,
          "/img/bg/upgrades/blue-762w@1x-q85.jpg" type("image/jpeg") 1x
      );
    }
  
    .bg-pattern-gold {
      background-image: url('/img/bg/upgrades/gold.jpg');
      background-image: image-set(
          "/img/bg/upgrades/gold-762w@2x-q50.avif" type("image/avif") 2x,
          "/img/bg/upgrades/gold-762w@1x-q50.avif" type("image/avif") 1x,
          "/img/bg/upgrades/gold-762w@2x-q85.webp" type("image/webp") 2x,
          "/img/bg/upgrades/gold-762w@1x-q85.webp" type("image/webp") 1x,
          "/img/bg/upgrades/gold-762w@2x-q85.jpg" type("image/jpeg") 2x,
          "/img/bg/upgrades/gold-762w@1x-q85.jpg" type("image/jpeg") 1x
      );
    }
  
    @media md {
      .bg-pattern-blue {
          background-image: image-set(
              "/img/bg/upgrades/blue-1920w@2x-q50.avif" type("image/avif") 2x,
              "/img/bg/upgrades/blue-1920w@1x-q50.avif" type("image/avif") 1x,
              "/img/bg/upgrades/blue-1920w@2x-q85.webp" type("image/webp") 2x,
              "/img/bg/upgrades/blue-1920w@1x-q85.webp" type("image/webp") 1x,
              "/img/bg/upgrades/blue-1920w@2x-q85.jpg" type("image/jpeg") 2x,
              "/img/bg/upgrades/blue-1920w@1x-q85.jpg" type("image/jpeg") 1x
          );
      }
      .bg-pattern-gold {
          background-image: image-set(
              "/img/bg/upgrades/gold-1920w@2x-q50.avif" type("image/avif") 2x,
              "/img/bg/upgrades/gold-1920w@1x-q50.avif" type("image/avif") 1x,
              "/img/bg/upgrades/gold-1920w@2x-q85.webp" type("image/webp") 2x,
              "/img/bg/upgrades/gold-1920w@1x-q85.webp" type("image/webp") 1x,
              "/img/bg/upgrades/gold-1920w@2x-q85.jpg" type("image/jpeg") 2x,
              "/img/bg/upgrades/gold-1920w@1x-q85.jpg" type("image/jpeg") 1x
          );
      }
    }

    .bg-banner-default {
      background-image: url('/img/bg/banner/default-vertical.jpg');
      background-image: image-set(
          "/img/bg/banner/default-vertical@2x-q50.avif" type("image/avif") 2x,
          "/img/bg/banner/default-vertical@1x-q50.avif" type("image/avif") 1x,
          "/img/bg/banner/default-vertical@2x-q85.webp" type("image/webp") 2x,
          "/img/bg/banner/default-vertical@1x-q85.webp" type("image/webp") 1x,
          "/img/bg/banner/default-vertical@2x-q85.jpg" type("image/jpeg") 2x,
          "/img/bg/banner/default-vertical@1x-q85.jpg" type("image/jpeg") 1x
      );
      background-position: 40% center;
    }
  
    @screen 3xl {
      .bg-banner-default {
        background-image: url('/img/bg/banner/default.jpg');
        background-image: image-set(
          "/img/bg/banner/default@1x-q75.avif" type("image/avif"),
          "/img/bg/banner/default@1x-q85.webp" type("image/webp"),
          "/img/bg/banner/default@1x-q85.jpg" type("image/jpeg")
      );
      }
    }
  
    .bg-banner-vertical {
      background-color: theme('colors.primary.900');
      background-image: url('/img/bg/banner/vertical.jpg');
      background-position: left center;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-image: image-set(
          "/img/bg/banner/vertical@2x-q85.avif" type("image/avif") 2x,
          "/img/bg/banner/vertical@1x-q85.avif" type("image/avif") 1x,
          "/img/bg/banner/vertical@2x-q85.webp" type("image/webp") 2x,
          "/img/bg/banner/vertical@1x-q85.webp" type("image/webp") 1x,
          "/img/bg/banner/vertical@2x-q85.jpg" type("image/jpeg") 2x,
          "/img/bg/banner/vertical@1x-q85.jpg" type("image/jpeg") 1x
      );
    }
  
    .bg-empty-investment-pattern {
      background-image: url('/img/bg/investments/empty.jpg');
      background-image: image-set(
          "/img/bg/investments/empty-320w@2x-q85.avif" type("image/avif") 2x,
          "/img/bg/investments/empty-320w@1x-q85.avif" type("image/avif") 1x,
          "/img/bg/investments/empty-320w@2x-q85.webp" type("image/webp") 2x,
          "/img/bg/investments/empty-320w@1x-q85.webp" type("image/webp") 1x,
          "/img/bg/investments/empty-320w@2x-q85.jpg" type("image/jpeg") 2x,
          "/img/bg/investments/empty-320w@1x-q85.jpg" type("image/jpeg") 1x
      );
    }
  
    @screen md {
      .bg-empty-investment-pattern {
          background-image: image-set(
              "/img/bg/investments/empty-762w@2x-q85.avif" type("image/avif") 2x,
              "/img/bg/investments/empty-762w@1x-q85.avif" type("image/avif") 1x,
              "/img/bg/investments/empty-762w@2x-q85.webp" type("image/webp") 2x,
              "/img/bg/investments/empty-762w@1x-q85.webp" type("image/webp") 1x,
              "/img/bg/investments/empty-762w@2x-q85.jpg" type("image/jpeg") 2x,
              "/img/bg/investments/empty-762w@1x-q85.jpg" type("image/jpeg") 1x
          );
      }
    }
  
    @screen 3xl {
      .bg-empty-investment-pattern {
          background-image: image-set(
              "/img/bg/investments/empty-1920w@1x-q85.avif" type("image/avif") 1x,
              "/img/bg/investments/empty-1920w@1x-q85.webp" type("image/webp") 1x,
              "/img/bg/investments/empty-1920w@1x-q85.jpg" type("image/jpeg") 1x
          );
      }
    }

    .bg-sheet-pattern {
        background-image: url('/img/sheet-pattern.png');
    }
    .bg-empty-investment-top-pattern {
        background-image: url('/img/empty-investment-top-pattern.png');
    }

    .bg-base {
        @apply bg-gradient angle-130 from-primary-900 via-primary-700 via-50% to-primary-900;
    }
    .bg-accent {
        @apply bg-gradient angle-130 from-primary-500 to-primary-700;
    }

    .bg-alt {
        @apply bg-white/5 backdrop-blur-3xl;
    }
    .bg-body {
        @apply bg-gradient angle-30 to-primary-800 from-primary-900;

    }

    .border-base {
        @apply relative;
        background-size: 100%;
        z-index: 1;
        
        &::after {
            content: "";
            @apply absolute inset-0 rounded p-0.5;
            z-index: -1;
            background: linear-gradient(131deg, transparent 0%, theme('colors.primary.500') 0%, transparent 15%);
            -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
    }

    .ribbon {
        &::before {
            content: "";
            @apply p-2 h-5 rounded-t bg-gradient-to-r from-primary to-primary-600
        }
    }

    .border-accent {
        @apply relative;
        background-size: 100%;
        z-index: 1;
        
        &::after {
            content: "";
            @apply absolute inset-0 rounded p-0.5;
            z-index: -1;
            background: linear-gradient(131deg, transparent 0%, theme('colors.secondary.500') 0%, transparent 15%);
            -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
    }

    .border-alt {}
}
