@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/v2/styles/gradients.scss";
// @import "@/styles/globals.scss";

@layer base {
  body {
    @apply overflow-hidden;
  }
}

@layer components {
  .table {
    @apply table-fixed border-separate border-spacing-y-3 w-full;

    .table-head {
      @apply relative;
    }
    
    .table-head-cell {
      @apply pt-4 pl-2 pr-5 text-sm font-regular text-foreground normal-case text-left;
    }

    .table-body-row {
      @apply bg-foreground/[.1] hover:bg-foreground/[.3] transition-base;
    }

    .table-data {
      @apply table-cell py-4 px-2 text-sm text-foreground text-left before:content-none;
    }
  }

  .table-inline {
    @apply table-fixed w-full;

    .table-head {
      @apply absolute inset-0 p-0 m-[-1px] h-[1px] w-[1px] overflow-hidden;
    }

    .table-head-cell {
      @apply text-sm font-regular text-foreground normal-case text-left;
    }

    .table-body-row {
      @apply bg-foreground/[.1] hover:bg-foreground/[.3] transition-base;
    }

    .table-data {
      @apply block px-5 py-1 text-sm text-right text-foreground before:content-[attr(data-label)] before:float-left before:font-bold before:text-foreground; 
    }
  }

  .definition-section {
    @apply mb-2 mt-4 py-4 px-8 flex flex-col gap-6 bg-foreground/[.02] rounded;
  }

  .definition-grid {
    @apply grid grid-cols-2 gap-4 items-center;
  }
}

@layer utilities {
  .transition-base {
    @apply transition-all duration-500 ease-in-out;
  }
  .transition-hover {
    @apply transition-all duration-100 ease-in-out;
  }
  .overlay {
    @apply fixed inset-0 z-50 bg-navy-700/[.7] data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #082030;
}

::-webkit-scrollbar-thumb {
  background: transparent linear-gradient(180deg, #0D87A1 0%, #164062 100%) 0% 0% no-repeat padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(36, 65%, 71%);
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.vault-investment::-webkit-scrollbar-track {
  margin: 64px;
}

.test-grid {
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  // grid-auto-rows: 50%;
}

.test6 {
  // background: linear-gradient(to top, #071321, transparent);
  // background: linear-gradient(131deg, transparent 0%, #099FB7 0%, transparent 25%);
  // background-image: linear-gradient(122deg, #06162E 0%, #184A66 47%, #06162E 100%);
  background: linear-gradient(to top, #071321 0%, #071321 50%, transparent 100%);
}

.tabs-scrollbar::-webkit-scrollbar {
  height: 4px;
}
.tabs-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #0D87A1 transparent;
}
