.card-gradient {
  background-size: 100%;
  background-image: linear-gradient(122deg, #06162E 0%, #184A66 47%, #06162E 100%);
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(131deg, transparent 0%, #099FB7 0%, transparent 15%);
    -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.card-gradient-accent {
  background-size: 100%;
  background-image: linear-gradient(122deg, #06162E 0%, #184A66 47%, #06162E 100%);
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(131deg, transparent 0%, hsl(36, 65%, 71%) 0%, transparent 15%);
    -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.card-dark {
  background-color: #101926;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(131deg, transparent 0%, #099FB7 0%, transparent 55%);
    -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

// Source: https://medium.com/@dave_lunny/animating-css-gradients-using-only-css-d2fd7671e759
.card-background {
  background-size: 100%;
  background-image: linear-gradient(122deg, #06162E 0%, #184A66 47%, #06162E 100%);
  position: relative;
  z-index: 1;
  border-radius: 5px;

  &::before, &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }

  &::after {
    z-index: -1;
    padding: 2px;
    background: linear-gradient(131deg, transparent 0%, #099FB7 0%, transparent 25%);
    -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &::before {
    background-image: linear-gradient(324deg, #164062 0%, #099FB7 100%);
    background: transparent linear-gradient(324deg, #164062 0%, #099FB7 100%) 0% 0% no-repeat padding-box;
    display: block;
    height: 100%;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 200ms;
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    &::after {
      background: linear-gradient(131deg, transparent 0%, hsl(36, 65%, 71%) 0%, transparent 15%);
    }
  }
}

.dialog-gradient {
  background-size: 100%;
  background-image: linear-gradient(102deg, #06162E 0%, #11364B 49%, #11354B 50%, #06162E 100%);
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 5px; 
    padding: 2px; 
    background: linear-gradient(231deg, transparent 0%, #099FB7 0%, transparent 55%);
    -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.gradient-border-sheet-header {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    padding: 2px; 
    background: linear-gradient(131deg, transparent 0%, #099FB7 0%, transparent 25%);
    -webkit-mask: linear-gradient(hsla(0, 0%, 100%) 0 0) content-box, linear-gradient(hsla(0, 0%, 100%) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.steps-gradient {
  background: rgba(255, 255, 255, 0.05) no-repeat padding-box;
  backdrop-filter: blur(44px);
}

.step-gradient {
  box-shadow: 0 0 20px #0BB0C8;
  background: transparent linear-gradient(180deg, #0BB0C8 0%, #163E60 100%) 0 0 no-repeat padding-box;
}

@media (max-width: 640px) {
  .gradient-border-sheet-header::before {
    display: none;
  }
}
